.log{
	width: 100%;
	height: 500px;
}
.img{
	width: 500px;
	height: 500px;
}
.nv{
	font-family: fantasy;
}
.font{
	font-family: serif sans-serif;

}
.bord{
	border-width: green;
	border-radius: 30px;
	width: 650px;
}